
#people_block{

}
#people_block a{
    color: black;
}
.people{
    display: flex;
    border-radius: 360px;
    padding: 75px;
    margin: auto;
    width: 1%;
}
.name{
    position: absolute;
    margin-top: 50px;
    background: rgba(255, 255, 255, .5);
    margin-left: -66px;
    width: 132px;
    height: 25px;
}
.name i{
    font-size: .5em;
}
#age_block{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}
#geo_block{
    width: 50%;
    margin: auto;
}
.messages{
    width: 40%;
    display: grid;
    align-items: center;
    align-self: center;
    margin: 20px auto 20px;
    grid-template-columns: 100%;
    min-height: 20%;
}
.my_message{
    border-radius: 50px 50px 0 50px;
    background-color: #ff87d5;
    justify-self: end;
    height: 30px;
    min-width: 80px;
    align-self: center;
    padding: 5px;
}
.my_message i{
    font-size: 10px;
    position: absolute;
    margin: 15px 15px 15px;
}

.other_message{
    border-radius: 50px 50px 50px 0px;
    background-color: rgba(45, 129, 181, 0.8);
    justify-self: start;
    height: 30px;
    min-width: 80px;
    align-self: center;
    padding: 5px;
}

.other_message i{
    font-size: 10px;
}
.mini_people{
    border-radius: 360px;
    padding: 15px;

    position: absolute;
    margin-left: -30px;
    margin-top: 8px;
}
.input_message{
    width: 40%;
    display: inline-grid;
    align-items: center;
    align-self: center;
    margin: 20px auto 20px;
    min-height: 20%;
    grid-template-areas:
            "main sd"
}
#textarea{
    border-radius: 160px;
    padding: 10px;
    resize: none;
    max-height: 200px;
    grid-area: main;
}
#textarea textarea{
    border-radius: 160px;
    margin: 0px 0px 0px 20px;
    width: 80%;
    min-height: 20px;
    outline: none;
    padding: 10px;
    resize: none;
}
#send_message{
    justify-self: start;
    grid-area: sd;

}
#send_message i{
    font-size: 35px;
    color: #777aff;
}