#people_block{

}
#people_block a{
    color: black;
}
.people{
    border-radius: 360px;
    padding: 100px;
    margin: 10px;
    display: inline-block;
}
.name{
    position: absolute;
    margin-top: 75px;
    background: rgba(255, 255, 255, .9);
    margin-left: -66px;
    width: 132px;
    height: 25px;
}
.name i{
    font-size: .5em;
}
#age_block{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}
#geo_block{
    width: 50%;
    margin: auto;
}
#address{
    border: none;
}
.name span{
    display: none;
}
#geo_block i{
    position: absolute;
    margin-left: -35px;
    margin-top: 15px;
    font-size: 1.5em;
}