#people_block{
    margin: 20px;
}
#main_site_block{
    min-height: calc(100vh - 69px - 100px - 60px - 44px - 5px);
}
#people_block a{
    color: black;
    text-decoration: none;
}
#filter_block{
    min-width: 300px;
}

.people{
    border-radius: 360px;
    padding: 100px;
    margin: 20px;
    display: inline-block;
    animation-name: showed_up_anim;
    animation-duration: 1s;
    /*box-shadow: 1px 1px 5px gray;*/
}
@keyframes showed_up_anim {
    from{opacity: 0}
    to{opacity: 1}
}
.name{
    position: absolute;
    margin-top: 90px;
    background: #f9f7f7;
    margin-left: -75px;
    width: 145px;
    height: 25px;
}
.distance{
    position: absolute;
    margin-top: 110px;
    background: #a808f08a;
    margin-left: -50px;
    width: 110px;
    height: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.distance i{
    padding-right: 5px;
}
.name i{
    font-size: .5em;
}
#age_block, #geo_block{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}
.name span{
    display: none;
}
#geo_block{
    margin: auto;
}
#geo_block #search_icon{
    position: absolute;
    margin-top: 15px;
    font-size: 1.5em;
}
#fame_block{
    font-size: 1.5em;
    min-width: 300px;
}
.fame_rating, .sex_preference, .age_sort, .geo_sort{
    width: 1px;
    margin-right: -5px;
    opacity: 0;
}
#age_sort_block, #geo_sort_block{
    margin-top: 15px;
    margin-bottom: -20px;
    z-index: 2;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.age_sort_label, .geo_sort_label{
    display: table-cell;
}
#sex_preference_block{
    margin: 15px;
    font-size: 1.2em;
}
#sex_preference_block i{
    min-width: 20px;
}
#low_fame_rating + .fame_rating_label{
    color: crimson;
}
#medium_fame_rating + .fame_rating_label{
    color: darkorange;
}
#high_fame_rating + .fame_rating_label{
    color: #5fe15f;
}
#famous_fame_rating + .fame_rating_label{
    color: #c640a4;
}
.fame_rating:checked + .fame_rating_label, .sex_preference:checked + .sex_preference_label,
.age_sort:checked + .age_sort_label, .geo_sort:checked + .geo_sort_label{
    background: rgba(0, 0, 0, .1);
}
.fame_rating_label, .sex_preference_label, .age_sort_label, .geo_sort_label{
    padding: 9px 5px 5px 5px;
    border-radius: 5px;
}
#tags_block{
    font-size: 1.5em;
    padding: 20px;
}
.tags_labels, #tags_add{
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    padding: 2px 10px 10px 10px;
    margin: 2px;
    border-radius: 5px;
}
.tags:checked + .tags_labels{
    background: antiquewhite;
    transition: background .5s cubic-bezier(.18,.89,.32,1.28);
}
.tags{
    width: 1px;
    margin-right: -5px;
    opacity: 0;
}
#tags_add input{
    border: 1px dashed black;
    padding: 5px;
    border-radius: 5px;
    width: 35px;
    height: 35px;
}
#tags_input_button{
    margin-left: -29px;
    position: absolute;
    margin-top: 5px;
}
.input_anim{
    transition: all 1s ease;
}
#tags_suggestion_block{
    position: absolute;
    margin-left: 90px;
    margin-top: -30px;
}
#tags_suggestion_block i{
    padding-right: 10px;
}
.show_suggestion_elem i{
    animation-name: show_suggestion_elem;
    animation-duration: 1s;
}
.destroy_suggestion_elem{
    opacity: 0;
    animation-name: destroy_suggestion_elem;
    animation-duration: .5s;
}
@keyframes show_suggestion_elem {
    from{transform: scale(0)}
    to{transform: scale(1)}
}
@keyframes destroy_suggestion_elem {
    from{opacity: 1}
    to{opacity: 0}
}
summary{
    min-width: 300px;
}