
#people_block{
    padding: 20px;
}
.date_block{
    width: 100%;
    background: antiquewhite;
    border-radius: 10px;
}
.time_block{
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}
#people_block a{
    color: black;
    text-decoration: none;
}
.people{
    border-radius: 360px;
    padding: 50px;
    display: inline-block;
}
.name span{
    display: none;
}
.name{
    position: absolute;
    margin-top: 35px;
    background: rgba(255, 255, 255, .9);
    margin-left: -45px;
    width: 90px;
    height: 30px;
}
.tags_labels{
    margin-left: -75px;
    position: absolute;
    margin-top: 110px;
    background: thistle;
    width: 50px;
    padding: 10px 5px 5px 5px;
    border-radius: 10px;
}
.name i{
    font-size: .5em;
}
#age_block{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}

h4{
    margin-top: 75px;
    background: rgba(255, 255, 255, .9);
    margin-left: auto;
    width: 132px;
    height: 25px;
}