img{
    width: 100px;
}
img:hover{
    transform: scale(1.5);
}
#images_block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-height: 200px;
}
#d_photo, #dfname, #dlname, #dsex, #dsex_pref, #dinfo, #dtags{
    text-align: center;
    height: 150px;
    max-height: 150px;
}
#d_photo{
    height: 300px;
    max-height: 300px;
}
.loading{
    font-size: 2em;
    position: absolute;
    left: 50%;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes loading {
    50%{transform: rotate(180deg)}
    100%{transform: rotate(360deg)}
}