header{
    border: 1px solid black;
    text-align: center;
}
body{
    text-align: center;
}
footer{
    border: 1px solid black;
    text-align: center;
}
#debug_block{
}
#address{
    text-align: center;
    border: none;
    border-bottom: 3px dashed black;
    height: 50px;
    font-size: 1.5em;
}