#main_site_block{
    display: grid;
    min-height: calc(100vh - 69px - 100px - 60px - 5px);
    align-items: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
*{
    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
}
#wrap{
    min-height: 100%;
    margin-bottom: -100px;
    background: #f9f7f7;
}
header{
    text-align: center;
    min-width: 300px;
    border-bottom: 5px solid white;
    box-shadow: 0 0 2px black;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 20px 5px 20px 5px;
}
#header_buttons{
    display: table;
    width: 100%;
    background: indianred;
}
.header_buttons{
    display: table-cell;
}
#notification_count, #notification_mess{
    font-size: .6em;
    padding: 3px;
    background: crimson;
    border-radius: 100%;
    position: absolute;
    margin-left: -5px;
    text-align: center;
    min-width: 15px;
}
.header_buttons:hover{
    background: rgba(255, 255, 255, 0.1);
}
#logo{
    display: table-cell;
    background: #777aff;
}
body{
    text-align: center;
}
#debug_block{
    display: none;
}
#address{
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 3px dashed black;
    height: 50px;
    font-size: 1.5em;
    min-width: 300px;
    width: 300px;
    margin-bottom: 10px;
}
#filter summary{
    font-size: 1.5em;
    outline: none;
}
#filter{
    background: #f0f0f0;
    padding: 10px;
}
footer, #push{
    height: 100px;
}
footer{
    background: indianred;
    text-align: center;
}
footer a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #e8e8e8;
}
.notification{
    display: block;
    width: 250px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 1px 1px 20px gray;
    z-index: 999999;
    visibility: hidden;
    align-content: center;
    animation-name: notification_anim;
    animation-duration: 3s;
}

.close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

@keyframes notification_anim {
    from{bottom: -160px}
    to{bottom: 0}
}
.sr-only {
    display: none;
}
#geo details{
    font-size: .8em;
    font-weight: normal;
    margin-top: 10px;
}
#YMapsID{
    margin: auto;
    width: 90%;
    height: 200px;
    margin-top: 15px;
    border: 2px solid wheat;
}
details[open] summary ~ *{
    animation-name: showed_up_anim;
    animation-duration: 1s;
}
@keyframes showed_up_anim {
    from{opacity: 0}
    to{opacity: 1}
}
#system_message{
    padding: 20px;
    background: crimson;
    border-radius: 5px;
    min-width: 300px;
    margin: auto auto 10px;
    color: white;
    animation-name: showed_up_anim;
    animation-duration: 1s;
}
#auth_login, #auth_password, #auth_submit, .auth_submit{
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    font-size: 1em;
    border: 1px solid #80808059;
    background: white;
    -webkit-appearance: none;
}
#auth_submit, .auth_submit{
    background: #5ccd6e;
    color: white;
    cursor: pointer;
}
#auth_form{
    display: grid;
    margin: auto;
    max-width: 300px;
}
#welcome_block{
    background: #f7ebf3;
    min-width: 300px;
    margin: auto;
    border-radius: 20px;
    max-width: 500px;
    padding: 10px;
}
#auth_second_block{
    display: table;
    width: 300px;
    margin: auto;
}
#auth_second_block a{
    background: indianred;
    display: table-cell;
    width: 50%;
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    vertical-align: middle;
}