header{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    min-width: 300px;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 20px 5px 20px 5px;
}
#header_buttons{
    display: table;
    width: 100%;
    background: indianred;
}
.header_buttons{
    display: table-cell;
}
#notification_count{
    font-size: .6em;
    padding: 3px;
}
.header_buttons:hover{
    background: rgba(255, 255, 255, 0.1);
}
#logo{
    display: table-cell;
    background: #777aff;
}
body{
    text-align: center;
}
#debug_block{

}
#address{
    background: transparent;
    text-align: center;
    border: none;
    border-bottom: 3px dashed black;
    height: 50px;
    font-size: 1.5em;
    min-width: 300px;
    width: 300px;
}
#filter summary{
    font-size: 1.5em;
    outline: none;
}
#filter{
    background: honeydew;
    padding: 10px;
    margin-left: -8px;
    margin-right: -8px;
}
footer{
    height: 100px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    background: indianred;
    text-align: center;
}
.notification{
    display: block;
    width: 35%;
    height: 25%;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 1px 1px 20px gray;
    z-index: 999999;
    visibility: hidden;
    align-content: center;
    animation-name: notification_anim;
    animation-duration: 3s;
}

.close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

@keyframes notification_anim {
    from{bottom: -160px}
    to{bottom: 0}
}